# The Stellar network to use (e.g., testnet or public)
NEXT_PUBLIC_STELLAR_NETWORK=testnet

# The public key for the issuer account
NEXT_PUBLIC_ISSUER_PUBLIC_KEY=

# The secret key for the distributor account
DISTRIBUTOR_SECRET_KEY=

# The secret key for the issuer account
ISSUER_SECRET_KEY=
